[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ceg"]
	path = ceg
	url = https://github.com/ptaranti/ceg
[submodule "coppeCosenzaR"]
	path = coppeCosenzaR
	url = https://github.com/ptaranti/coppecosenzar
